# Config file .travis.yml

language: python
python:
    - "3.5"

sudo: false
cache: pip

addons:
  postgresql: "9.6"
  apt:
    packages:
      - expect-dev  # provides unbuffer utility
      - python-lxml # because pip installation is slow

env:
  global:
  - VERSION="12.0" TESTS="0" LINT_CHECK="0"
  - TRANSIFEX_USER='transbot@odoo-community.org'
  - secure: tDsvZaY3JqmnjgyRuKkgQRtlRILkkjnHtZPWWaGg+KBD+BBH4AqX5ACTyu5U/J6Kr/Yb5NIoM3+NYRuASdGXnJb9siZvh/9B58B1wKUbC2umH4Yrpw66CEvG9JY4XMOCZni9kQBwQ7iMk5GfusDWuVuydZjd6dAqkCxz6JdkIco=
  matrix:
  - LINT_CHECK="1"
  - TRANSIFEX="1"
  - TESTS=1 ODOO_REPO="OCA/OCB" LINT_CHECK="0"
  - TESTS=1 ODOO_REPO="odoo/odoo" LINT_CHECK="0"


install:
  - git clone https://github.com/OCA/maintainer-quality-tools.git ${HOME}/maintainer-quality-tools
  - export PATH=${HOME}/maintainer-quality-tools/travis:${PATH}
  - travis_install_nightly

script:
    - travis_run_tests

after_success:
  - travis_after_tests_success
