[project]
	description = Odoo Warehouse Management Addons
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Maxime Chambreuil - http://www.savoirfairelinux.com (max3903)
[access "refs/for/refs/*"]
	read = group user/Maxime Chambreuil - http://www.savoirfairelinux.com (max3903)
	push = group user/Maxime Chambreuil - http://www.savoirfairelinux.com (max3903)
	label-Code-Review = -2..+2 group user/Maxime Chambreuil - http://www.savoirfairelinux.com (max3903)
	label-Verified = -1..+1 group user/Maxime Chambreuil - http://www.savoirfairelinux.com (max3903)
	rebase = group user/Maxime Chambreuil - http://www.savoirfairelinux.com (max3903)
	removeReviewer = group user/Maxime Chambreuil - http://www.savoirfairelinux.com (max3903)
	submit = group user/Maxime Chambreuil - http://www.savoirfairelinux.com (max3903)
[access "refs/heads/*"]
	read = group user/Maxime Chambreuil - http://www.savoirfairelinux.com (max3903)
	create = group user/Maxime Chambreuil - http://www.savoirfairelinux.com (max3903)
	push = +force group user/Maxime Chambreuil - http://www.savoirfairelinux.com (max3903)
	pushMerge = group user/Maxime Chambreuil - http://www.savoirfairelinux.com (max3903)
[access "refs/tags/*"]
	push = +force group user/Maxime Chambreuil - http://www.savoirfairelinux.com (max3903)
	pushTag = group user/Maxime Chambreuil - http://www.savoirfairelinux.com (max3903)
	pushSignedTag = group user/Maxime Chambreuil - http://www.savoirfairelinux.com (max3903)
