.o_web_client.o_fullscreen {
    .o_form_view.measuring_wizard {
        font-size: 16px;

        @include media-breakpoint-up(x1) {
            font-size: 18px;
        }

        .btn {
            font-size: 1em;
            padding: 1em;
            margin: 0 5px;
        }

        .o_data_cell:not(.o_list_button) {
            padding: 0.75em;
            font-size: 1.5em;
            margin: 0 5px;
        }

        .table-responsive {
            overflow: hidden;
        }

        .o_field_many2one input.o_input {
            font-size: 1.5em;
        }

        .o_form_statusbar {
            display: none;
        }
    }
}
